:root {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    --primary-color: #00FF00;
    --secondary-color: #00CC00;
    --tertiary-color: #009900;
    --background-color: #000000;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    font-size: clamp(18px, 3vw, 30px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100lvh;
    block-size: 100lvh;
    background-color: #221;
    box-shadow: inset -30px 40px 2rem #fff3;
    cursor: url('./assets/mouse.svg') 0 0, auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  cursor: inherit;
  background-color: inherit;
  width: -webkit-fill-available;
  padding: 10px;
}

div.retro-container {
    inline-size: 90vw;
    block-size: 90vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    padding: 0.5rem;
    border: 2px solid;
    color: var(--primary-color);
    mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
    mask-size: 100% 2px;
    transform: translateZ(10px);
    text-shadow: 0 0 0.5rem;
}

.alert {
    animation: blink-bg 1s ease-out infinite;
}

/* Definizione dell'animazione */
@keyframes blink-bg {

    0%,
    60% {
        text-shadow: 0 0 10.5rem;
        color: var(--primary-color);
    }

    70%,
    100% {
        text-shadow: 0 0 20.5rem;
        color: var(--tertiary-color);
    }
}

a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: url("assets/mouse.svg") 0 0, pointer;
}

li:focus-within {
    color: var(--background-color);
    background-color: var(--secondary-color);
}

li:focus-within a {
    color: var(--background-color);
    background-color: var(--secondary-color);
    border: 0;
}


main {
    overflow: hidden;
}

section {
    block-size: 100%;
    overflow: hidden auto;
    margin: 1rem 0;
}

header,
footer {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header h1 {
    font-size: 1.4rem;
    align-self: center;
}

footer h2 {
    font-size: 1.3rem;
    align-self: center;
}

ul.horizontal {
    display: flex;
    list-style: none;
    gap: 0 1rem;
    align-items: center;
}

ul.horizontal>li {
    padding: 1rem;
}

@keyframes lcdBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 10000%;
    }
}

body {
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    animation: lcdBackground 100s linear infinite;
    background-size: 100% 80%;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: flex-start;
    height: 100%;
}

article>figure,
article>div {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

article figure img {
    display: block;
    object-fit: contain;
    width: 80%;
    height: 80%;
}

table {
    border-spacing: 0.1rem;
    margin: 0.5rem;
    font-size: smaller;
}

table.big-list {
    display: block;
    font-size: small;
    overflow-y: auto;
}

th,
td {
    text-align: left;
    padding: 0.2rem 1rem;
 #   border: 0px solid;
}


.marker {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 0.3rem solid;
    border-radius: 50%;
}

@media (orientation: portrait) {
    header {
        flex-direction: column;
        gap: 0;
    }

    ul.horizontal>li {
        padding: 0.3rem;
    }

    article {
        display: flex;
        flex-direction: column-reverse;
    }

    article>figure,
    article>div {
        height: auto;
        width: 100%;
        height: auto;
    }
}

.big-textbox {
    text-align: left;
    padding: 0.2rem 1rem;
    border: 2px solid; 
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typing 5.5s steps(50, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.hinge {
    animation: hinge 2s forwards;
}

#gameOverMessage {
    transition: opacity 1s ease-in-out;
}

@keyframes hinge {
    0% { transform: rotate(0); transform-origin: top left; }
    20% { transform: rotate(80deg); transform-origin: top left; }
    40% { transform: rotate(60deg); transform-origin: top left; }
    60% { transform: rotate(80deg); transform-origin: top left; }
    80% { transform: rotate(60deg); transform-origin: top left; }
    100% { transform: rotate(100deg) translateX(100vw); transform-origin: top left; opacity: 0; }
}
